<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Software Licence</title>
    <style>
      div {
        margin: 100px auto;
      }
      ul li {
        list-style: none;
        color: blue;
      }
      span {
        font-weight: bolder;
        color: black;
      }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <li><span>company: </span><%= val.company %></li><hr />
        <li><span>department: </span><%= val.department %></li><hr />
      </ul>
    </div>
  </body>
</html>
