<script type="text/javscript" src="../javscripts/app.js"></script>
<script type="text/javscript" src="../javscripts/charts.js"></script>
<script type="text/javscript" src="../javscripts/main.js"></script>
<script type="text/javscript" src="../javscripts/bootstrap.js"></script>

</body>
</html>