<script type="text/javscript" src="../javascripts/app.js"></script>
<script type="text/javscript" src="../javascripts/jquery.min.js"></script>
<script type="text/javscript" src="../javascripts/charts.js"></script>
<script type="text/javscript" src="../javascripts/main.js"></script>
<script type="text/javscript" src="../javascripts/popper.min.js"></script>
<script type="text/javscript" src="../javascripts/bootstrap.js"></script>

</body>
</html>