 <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="icon-speedometer"></i> Dashboard </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="widgets.html"><i class="icon-calculator"></i> Assets </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> License</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Accessories</a>
          </li> <li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Consumable</a>
          </li><li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Components</a>
          </li> <li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Reports</a>
          </li>         
        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>