 <div class="app-body">
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-keyboard-o"></i> Dashboard </a>
          </li>
          </li> <li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="fa fa-file-text"></i> Reports</a>
          </li>
          </li> <li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="fa fa-pie-chart"></i> Reports</a>
          </li>
          </li> <li class="nav-item">
            <a class="nav-link" href="charts.html"><i class="fa fa-pie-chart"></i> Reports</a>
          </li>
        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>