<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="It Portal">
  <meta name="author" content="openduty">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
  <link rel="shortcut icon" href="images/favicon.png">
  <%- include partials/_css.ejs %>
</head>

  <%- include partials/_header.ejs %>
  <%- include partials/_sidebar.ejs %>

<!-- Main content -->
    <main class="main">
    <br>
    <br>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                  <h4 class="mb-0">9.823</h4>
                  <p>Support tickets</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                  <canvas id="card-chart1" class="chart" height="70"></canvas>
                </div>
              </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-info">
                <div class="card-body pb-0">
                  <h4 class="mb-0">9.843</h4>
                  <p>Hardware requests</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                  <canvas id="card-chart2" class="chart" height="70"></canvas>
                </div>
              </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                  <div class="btn-group float-right">
                  </div>
                  <h4 class="mb-0">9.823</h4>
                  <p>Software requests</p>
                </div>
                <div class="chart-wrapper" style="height:70px;">
                  <canvas id="card-chart3" class="chart" height="70"></canvas>
                </div>
              </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                  <div class="btn-group float-right">
                  </div>
                  <h4 class="mb-0">9.823</h4>
                  <p>New starts</p>
                </div>
                <div class="chart-wrapper px-3" style="height:70px;">
                  <canvas id="card-chart4" class="chart" height="70"></canvas>
                </div>
              </div>
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->

          <div class="row">
            <div class="col-sm-6">
              <div class="card border-danger">
                <div class="card-header text-white bg-danger">
                  <i class="fa fa-calendar-times-o"></i>
                  <strong>Overdue</strong>
                  <span class="badge badge-pill badge-dark float-right">42</span>
                </div>
                <div class="card-body">
                  <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Summary</th>
                <th>Created by</th>
                <th>Due date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Colin Whitten</a></td>
                <td>2012/01/01</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Sookyen Lau</a></td>
                <td>2012/02/01</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Admin</a></td>
                <td>2012/02/01</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Colin Whitten</a></td>
                <td>2012/03/01</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Sookyen Lau</a></td>
                <td>2012/01/21</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
                </div>
              </div>
            </div>
            <!--/.col-->                      
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i>
                  <strong>To-Do</strong>
                  <span class="badge badge-pill badge-dark float-right">42</span>
                </div>
                <div class="card-body">
                  <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Summary</th>
                <th>Created by</th>
                <th>Due date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Colin Whitten</a></td>
                <td>2012/01/01</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Sookyen Lau</a></td>
                <td>2012/02/01</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Admin</a></td>
                <td>2012/02/01</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Colin Whitten</a></td>
                <td>2012/03/01</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td><a href="#">9999</a></td>
                <td>Sed ut perspiciatis unde omnis iste natus error sit...</td>
                <td><a href="#">Sookyen Lau</a></td>
                <td>2012/01/21</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
                </div>                    
              </div>
            </div>
            <!--/.col-->            
          </div>
          <!--/.row-->

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-calendar"></i>
                  <strong>Calendar</strong>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <!--/.col-->  
          </div>
          <!--/.row-->


      </div>
      <!-- /.conainer-fluid -->
    </main>

  <%- include partials/_footer.ejs %>
