<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Software Licence</title>
    <style>
      div {
        margin: 100px auto;
      }
      ul li {
        list-style: none;
        color: blue;
      }
      span {
        font-weight: bolder;
        color: black;
      }
    </style>
  </head>
  <body>
    <div>
      <ul>
        <li><span>Name: </span><%= licence.software_name %></li><hr />
        <li><span>manufacturer: </span><%= licence.manufacturer %></li><hr />
        <li><span>Product Key: </span><%= licence.product_key %></li><hr />
      </ul>
    </div>
  </body>
</html>
